.galleryItem {
    display: inline-block;
    justify-content: center;
    padding: 15px;
    margin: 5px;
    border: black 5px solid;
    border-radius: 10px;
}

#galleryItemDescription {
    display: inline-block;
    justify-content: center;
    height: 174px;
    width: 200px;
    cursor: pointer;
}

img {
    cursor: pointer;
}